services:
  db:
    image: postgres:16-alpine
    container_name: fitmetrics_db
    restart: always
    environment:
      POSTGRES_USER: fit_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fitmetrics
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
  minio:
    image: minio/minio:latest
    container_name: fitmetrics_minio
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio_data:/data
  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 minioadmin minioadmin;
      mc mb -p local/fitmetrics-media;
      mc anonymous set download local/fitmetrics-media;
      exit 0;
      "

volumes:
  postgres_data:
  minio_data:
